.jumbotron{
  background-image: url("for her.jpeg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
img {
  width: 300px;
  height: 300px;
}
label {
  font-size: 50px;
}
h1 {
  color: lightpink;
}
